.decorations {
    position: absolute 0 * * 0;
    left: calc((100vw - 100%) * -0.5);
    size: 100vw 100%;
    z-index: -1;
    overflow: hidden;

    &__rotating-square:first-of-type {
        position: absolute -300px * * 75%;
        animation: rotate-decoration-ccw 360s linear infinite;
    }

    &__rotating-square:last-of-type {
        position: absolute 1300px * * -200px;
        animation: rotate-decoration-cw 260s linear infinite alternate;
    }
}

@keyframes rotate-decoration-ccw {
    from {
        transform: rotate(-170deg);
    }

    to {
        transform: rotate(190deg);
    }
}

@keyframes rotate-decoration-cw {
    from {
        transform: rotate(30deg);
    }

    to {
        transform: rotate(410deg);
    }
}
