.footer {
    display: flex;
    align-items: flex-start;
    align-self: flex-end;

    position: relative;
    size: 100% 146px;
    margin-top: 60px;
    max-width: 660px;

    &__link {
        @mixin footer-link;
    }

    &__link:hover {
        color: var(--blue);
    }

    &__link--previous:before,
    &__link--next:after {
        display: inline-block;
        position: relative -1px * * *;
        size: 20px 8px;
        content: '';
        transition: transform 100ms;
    }

    &__link--previous:before {
        background-image: inline('images/arrow-previous.png');
        background-size: size('images/arrow-previous.png', 2);
    }

    &__link--previous:hover:before {
        transform: translateX(-5px);
    }

    &__link--next {
        margin-left: auto;
    }

    &__link--next:after {
        background-image: inline('images/arrow-next.png');
        background-size: size('images/arrow-next.png', 2);
    }

    &__link--next:hover:after {
        transform: translateX(5px);
    }
}
