
.header {
    size: 100% 40px;

    @media (--small) {
        position: absolute 0 * * 0;
    }
    
    @media (--default) {
        position: fixed 0 * * 0;
    }

    &__title {
        @mixin text-replacement;
        margin: 0;

        $backgroundImage: "../images/logo-animated.gif";
        width: width($backgroundImage, 2);
        height: height($backgroundImage, 2);

        background: url($backgroundImage) no-repeat;
        background-size: size($backgroundImage, 2);
    }
}
