.table-of-contents {
    flex-grow: 1;
    position: sticky 0 * * *;
    min-width: 260px;

    &.fixed {
        position: fixed 0 * * *;
    }

    &__section {
        @mixin navigation-section;
        margin: 0;
    }

    &__section:not(:first-of-type) {
        margin-top: 40px;
    }

    &__pages {
        margin: 15px 0 0 0;
        padding: 0 0 0 20px;
        list-style: none;
    }

    &__page {
        @mixin navigation-page;
        margin: 0;
    }

    &__link {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
    }

    &__link--selected {
        color: var(--blue);
        cursor: default;
    }

    &__link:hover {
        color: var(--blue);
    }
}
