.table-of-contents {
    width: 100%;
    max-width: 240px;

    @media (--small) {
        display: none;
    }

    @media (--default) {
        position: fixed 218px * * *;
    }

    &__section {
        @mixin navigation-section;
        margin: 0 0 22px 0;
    }

    &__section:not(:first-of-type) {
        margin-top: 40px;
    }

    &__pages {
        margin: 13px 0 0 0;
        padding: 0 0 0 21px;
        list-style: none;
    }

    &__page {
        @mixin navigation-page;
        margin: 14px 0 0 0;
    }

    &__link {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }

    &__link--selected {
        color: var(--blue);
        border-bottom: 1px solid;
    }

    &__link:hover {
        color: var(--blue);
    }
}
