.article {
    align-self: flex-end;
    width: 100%;
    max-width: 660px;

    @media (--smallest), (--small) {
        margin-top: 45px;
    }

    @media (--default) {
        margin-top: 146px;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4 {
        @mixin article-title;
    }

    h1 {
        margin: 30px 0;
        font-size: 3.4rem;
    }

    h2 {
        margin: 50px 0 10px;
        font-size: 1.8rem;
    }

    h3, h4 {
        margin: 20px 0 5px;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        line-height: 1.6;
    }

    p {
        @mixin article-body-text;
        margin: 10px 0 20px;
    }

    a {
        color: var(--default-link-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--blue);
    }

    img {
        margin: 6px 0;
        size: 100% auto;
        border-radius: 3px;
    }

    hr {
        margin: 45px 0;
        size: 100% 1px;
        border: none;
        background-color: var(--default-stroke-color);
    }

    ul, ol {
        @mixin clearfix;
        @mixin article-list;
        margin: 35px 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li:before {
        display: inline-block;
        margin-right: 25px;
        size: 4px;
        background-color: white;
        content: '';
    }

    li:not(:first-child) {
        margin-top: 12px;
    }

    table {
        margin: 35px 0;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    th {
        @mixin article-thead;
        border-bottom: 1px solid var(--default-stroke-color);
    }

    td {
        @mixin article-tbody;
        vertical-align: top;
        border-bottom: 1px solid var(--default-stroke-color);
    }

    th:first-child {
        @media (--smallest), (--small) {
            padding: 10px 10px 10px 0;
        }

        @media (--default) {
            padding: 10px 20px 10px 0;
        }
    }

    th:last-child {
        @media (--smallest), (--small) {
            padding: 10px 0 10px 10px;
        }

        @media (--default) {
            padding: 10px 0 10px 20px;
        }
    }

    th:not(:first-child):not(:last-child) {
        @media (--smallest), (--small) {
            padding: 10px;
        }

        @media (--default) {
            padding: 10px 20px;
        }
    }

    td:first-child {
        @media (--smallest), (--small) {
            padding: 13px 10px 13px 0;
        }

        @media (--default) {
            padding: 13px 20px 13px 0;
        }
    }

    td:last-child {
        @media (--smallest), (--small) {
            padding: 13px 0 13px 10px;
        }

        @media (--default) {
            padding: 13px 0 13px 20px;
        }
    }

    td:not(:first-child):not(:last-child) {
        @media (--smallest), (--small) {
            padding: 13px 10px;
        }

        @media (--default) {
            padding: 13px 20px;
        }
    }

    code,
    kbd,
    span.ui-input {
        @mixin article-code;
        display: inline-block;
        margin: 10px 0;
        padding: 5px 7px 3px;

        background: var(--code-background-color);
        white-space: pre-wrap;
    }

    code[class*='language']:before {
        @mixin article-code-language-identifier;
        display: block;
    }

    code.language-html:before {
        content: 'HTML:';
    }

    code.language-JavaScript:before {
        content: 'JS:';
    }

    code.language-css:before {
        content: 'CSS:';
    }

    p > code {
        margin: 0;
        font-size: 1.3rem;
        background-color: color(var(--green) alpha(10%));
        color: var(--green);
    }

    pre > code {
        display: block;
        padding: 25px 30px;
    }

    kbd {
        margin: 0;
        font-size: 1.3rem;
    }

    span.ui-input {
        margin: 0;
        font-size: 1.3rem;
        background-color: color(var(--green) alpha(10%));
        color: var(--green);
    }

    h3 + p,
    h4 + p {
        margin-top: 5px;
    }

    p + ul,
    p + ol,
    p + table,
    p + pre {
        margin: 35px 0 10px;
    }

    ul + p,
    ol + p,
    table + p,
    pre + p {
        margin: 35px 0 20px;
    }
}
