.article {
    width: 100%;
    max-width: 660px;

    @media (--smallest), (--small) {
        margin-top: 45px;
    }

    @media (--default) {
        margin-top: 146px;
    }

    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }

    h1, h2, h3, h4 {
        @mixin article-title;
    }

    h1 {
        margin: 35px 0;
        font-size: 3.4rem;
    }

    h2 {
        margin: 50px 0 25px;
        font-size: 1.8rem;
    }

    h3, h4 {
        margin: 30px 0 15px;
        letter-spacing: 0px;
        font-size: 1.7rem;
        line-height: 1.75;
    }

    p {
        @mixin article-body-text;
        margin: 20px 0 20px;
    }

    img {
        margin: 6px 0;
        size: 100% auto;
        border-radius: 3px;
        color: yellow;
    }

    hr {
        margin: 45px 0;
        size: 100% 1px;
        border: none;
        background-color: var(--default-stroke-color);
    }

    a {
        color: var(--emphasized-text-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--blue);
    }

    cite {
        color: var(--emphasized-text-color);
        font-style: normal;
    }

    blockquote {
        margin: 10px 0 20px;
        padding: 0 0 0 20px;
        border-left: 1px solid var(--dimmed-text-color);
    }

    blockquote p,
    span.note {
        @mixin article-note;
    }

    blockquote p a,
    span.note a {
        color: var(--default-text-color);
    }

    ul, ol {
        @mixin clearfix;
        @mixin article-list;
        margin: 35px 0;
        padding: 0;
    }

    li {
        display: flex;
        align-items: center;
        list-style: none;
    }

    li:before {
        display: inline-block;
        margin-right: 25px;
        size: 4px;
        background-color: white;
        content: '';
    }

    li:not(:first-child) {
        margin-top: 12px;
    }

    table {
        margin: 35px 0;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        table-layout: fixed;
    }

    th {
        @mixin article-thead;
        border-bottom: 1px solid var(--default-stroke-color);
    }

    td {
        @mixin article-tbody;
        vertical-align: top;
    }

    tr:not(:last-child) td {
        border-bottom: 1px solid var(--default-stroke-color);
    }

    th:first-child {
        @media (--smallest), (--small) {
            padding: 10px 10px 10px 0;
        }

        @media (--default) {
            padding: 10px 20px 10px 0;
        }
    }


    th:last-child {
        @media (--smallest), (--small) {
            padding: 10px 0 10px 10px;
        }

        @media (--default) {
            padding: 10px 0 10px 20px;
        }
    }

    th:not(:first-child):not(:last-child) {
        @media (--smallest), (--small) {
            padding: 10px;
        }

        @media (--default) {
            padding: 10px 20px;
        }
    }

    td:first-child {
        @media (--smallest), (--small) {
            padding: 13px 10px 13px 0;
        }

        @media (--default) {
            padding: 13px 10px 13px 0;
        }
    }

    td:last-child {
        @media (--smallest), (--small) {
            padding: 13px 0 13px 10px;
        }

        @media (--default) {
            padding: 13px 0 13px 20px;
        }
    }

    td:not(:first-child):not(:last-child) {
        @media (--smallest), (--small) {
            padding: 13px 10px;
        }

        @media (--default) {
            padding: 13px 10px;
        }
    }

    pre > code {
        @mixin article-code;
        white-space: pre-wrap;

        display: block;
        margin: 10px 0;
        padding: 16px 20px;

        background: var(--code-background-color);
    }

    pre > code[class*='language']:before {
        @mixin article-code-language-identifier;
        display: block;
        user-pointer: none;
        user-select: none;
    }

    pre > code.language-html:before {
        content: 'HTML:';
    }

    pre > code.language-JavaScript:before {
        content: 'JS:';
    }

    pre > code.language-css:before {
        content: 'CSS:';
    }

    pre > code.language-md:before {
        content: 'Markdown:';
    }

    pre > code.language-cli:before {
        content: 'Console:';
    }

    kbd,
    em,
    strong,
    p code,
    table code {
        @mixin article-inline-code;
        display: inline;
        margin: 0;
        padding: 6px 8px 5px;
        border-radius: 2px;

        @media (--smallest), (--small) {
            white-space: pre-wrap;
        }

        @media (--default) {
            white-space: nowrap;
        }
    }

    kbd,
    em {
        background: var(--code-background-color);
    }

    p code,
    table code,
    strong {
        color: var(--green);
        background-color: color(var(--green) alpha(10%));
    }

    h3 + p,
    h4 + p {
        margin-top: 0;
    }

    p + ul,
    p + ol,
    p + table,
    p + pre {
        margin: 35px 0 10px;
    }

    ul + p,
    ol + p,
    table + p,
    pre + p {
        margin: 35px 0 20px;
    }
}
