.footer {
    display: flex;
    justify-content: space-between;

    position: relative;
    margin-top: 60px;

    @media (--smallest), (--small) {
        size: 100% 80px;
    }

    @media (--default) {
        size: 100% 146px;
    }

    &__link {
        @mixin footer-link;
        flex: none;

        display: flex;
        flex-direction: row;
    }

    &__link:hover {
        color: var(--emphasized-text-color);
    }

    &__link-label {
        display: inline-block;
    }

    &__link svg {
        size: 21px 13px;
        fill: currentcolor;
    }

    &__link--previous svg {
        margin-right: 15px;
    }

    &__link--next svg {
        margin-left: 15px;
    }

    
    @media (--smallest) {
        &__link-label--desktop {
            display: none;
        }
    }

    @media (--small), (--default) {
        &__link-label--mobile {
            display: none;
        }
    }
}
