.table-of-contents {
    width: 100%;
    max-width: 300px;

    @media (--default) {
        position: sticky 75px * * *;
        margin: 226px 0;
    }

    &__content {
        margin: 0;
        overflow: hidden;
        transition: max-height 400ms;

        @media (--smallest), (--small) {
            margin: 20px 0 0 0;
        }
    }

    &__title {
        @mixin navigation-section;
        margin: 0 0 10px 0;
        cursor: pointer;

        @media (--smallest), (--small) {
            margin-top: 20px;
        }
    }

    &__title:not(:first-of-type) {
        margin: 20px 0 10px 0;
    }

    &__title svg {
        position: relative 1px * * 7px;
        size: 11px;
        fill:  currentcolor;
        transition: transform 250ms;

        @media (--smallest), (--small) {
            display: none;
        }        
    }

    &__title--selected svg {
        transform: rotate(45deg);
    }

    &__articles {
        margin: 10px 0 20px 0;
        padding: 0 0 0 21px;
        list-style: none;
        transition: max-height 250ms;
        overflow: hidden;
    }

    &__title:not(&__title--selected) + &__articles {
        @media (--default) {
            max-height: 0 !important;
        }
    }

    &__article {
        @mixin navigation-page;
        margin: 12px 0 0 0;
    }

    &__article-link {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }

    &__article-link--selected {
        color: var(--blue);
        border-bottom: 1px solid;
    }

    &__article-link:hover {
        color: var(--blue);
    }

    &__toggle-button {
        @mixin navigation-toggle-button;        

        position: relative;
        display: flex;
        cursor: pointer;

        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;

        @media (--default) {
            display: none;
        }
    }

    &__toggle-button:hover {
        color: var(--emphasized-text-color);
    }

    &__toggle-button svg {
        position: relative 1px * * 10px;
        size: 13px;
        fill: currentcolor;
        transition: transform 200ms;
    }

    &__toggle-button--selected svg {
        transform: rotate(45deg);
    }

    &__toggle-button:not(&__toggle-button--selected) + &__content {


        @media (--smallest), (--small) {
            max-height: 0 !important; 
        }
    }
}
