.DS_Store
.gulp
npm-debug.log

dist
src/.static
src/.layouts

node_modules/*
!node_modules/app
package-lock.json
*.json
package-lock.json
src/static/videos/manage-your-stages-editing-stages-old.mp4
src/static/videos/manage-your-stages-adding-a-new-stage-old.mp4
src/static/videos/manage-your-days-dates-old.mp4
src/static/videos/manage-your-days-changing-start-end-times-old.mp4
src/static/videos/manage-your-acts-resizing-dragging-old.mp4
src/static/videos/manage-your-acts-deleting-old.mp4
src/static/videos/manage-your-acts-adding-acts-old.mp4
src/static/videos/getting-started-your-first-event-old.mp4
src/static/videos/getting-started-signing-up-old.mp4
src/static/videos/custom-themes-basic-structure-old.mp4
src/static/videos/configure-your-embed-old.mp4
src/static/videos/account-settings-upgrading-old.mp4
src/static/images/manage-your-schedule-edit-acts-modal-old.jpg
src/static/images/custom-themes-basic-structure-desktop-11-old.jpg
src/static/images/custom-themes-basic-structure-desktop-10-old.jpg
src/static/images/custom-themes-basic-structure-desktop-09-old.jpg
src/static/images/custom-themes-basic-structure-desktop-08-old.jpg
src/static/images/custom-themes-basic-structure-desktop-07-old.jpg
src/static/images/custom-themes-basic-structure-desktop-06-old.jpg
src/static/images/custom-themes-basic-structure-desktop-05-old.jpg
src/static/images/custom-themes-basic-structure-desktop-04-old.jpg
src/static/images/custom-themes-basic-structure-desktop-03-old.jpg
src/static/images/custom-themes-basic-structure-desktop-02-old.jpg
src/static/images/custom-themes-basic-structure-desktop-01-old.jpg
