<!DOCTYPE html>

<html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>{{ .Title }}</title>

		<!-- Standard -->
		<meta name='author' content='{{ $.Param "author" }}'>
		<meta name='description' content='{{ .Description }}'>
		<meta name='keywords' content='{{ delimit .Keywords ", " }}'>

		{{ partial "social.html" . }}

		<link rel="canonical" href="{{ .Site.BaseURL }}">
        <link rel='stylesheet' href='{{ .Site.BaseURL }}/styles/screen.css' media='screen'>
		<link rel='shortcut icon' type='image/x-icon' href='{{ .Site.BaseURL }}/images/favicon.png'>
	</head>

    <body>

		{{ partial "header.html" . }}
        {{ partial "navigation.html" . }}
        {{ block "content" . }}{{ end }}
		{{ partial "footer.html" . }}

        <script src='{{ .Site.BaseURL }}/scripts/main.js' charset='utf-8' async></script>
    </body>
</html>
