<!DOCTYPE html>

<html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <title>{{ .Title }}</title>

		<!-- Standard -->
		<meta name='author' content='{{ $.Param "author" }}'>
		<meta name='description' content='{{ .Description }}'>
		<meta name='keywords' content='{{ delimit .Keywords ", " }}'>

		{{ partial "social.html" . }}

		<link rel="canonical" href="{{ .Site.BaseURL }}">
        <link rel='stylesheet' href='{{ .Site.BaseURL }}/styles/screen.css' media='screen'>
		<link rel='shortcut icon' type='image/x-icon' href='{{ .Site.BaseURL }}/images/favicon.png'>
	</head>

    <body>

		{{ partial "header.html" . }}
        {{ partial "navigation.html" . }}
        {{ block "content" . }}{{ end }}
		{{ partial "footer.html" . }}

        <script src='{{ .Site.BaseURL }}/scripts/main.js' charset='utf-8' async></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-64372736-2', 'auto');
			ga('send', 'pageview');
		</script>
    </body>
</html>
