@font-face {
    font-family: 'liberationmono';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/liberationmono-regular-webfont.woff') format('woff');
}

:root {
    --liberation: 'liberationmono', sans-serif;
}
