<div class='docs_decorations decorations'>
    <svg width="607px" height="607px" viewBox="0 0 607 607" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class='decorations__rotating-square'>
        <rect x="0" y="0" width="607" height="607" stroke="white" stroke-width="1" fill="none" stroke-dasharray="1,15"/>
    </svg>

    <svg width="607px" height="607px" viewBox="0 0 607 607" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class='decorations__rotating-square'>
        <rect x="0" y="0" width="607" height="607" stroke="white" stroke-width="1" fill="none" stroke-dasharray="1,15"/>
    </svg>
</div>
