<!-- Schema.org -->
<meta itemprop='name' content='{{ .Site.Title }}'>
<meta itemprop='description' content='{{ .Description }}'>
<meta itemprop='url' content='{{ .Site.BaseURL }}'>
<meta itemprop='keywords' content='{{ delimit .Keywords ", " }}'>
<meta itemprop='image' content='{{ .Site.BaseURL }}/images/og-image-new.jpg'>
<meta itemprop='sourceOrganization' content='Blokks'>
<meta itemprop='inLanguage' content='en-US'>

<!-- OpenGraph -->
<meta property='og:title' content='{{ .Site.Title }}'>
<meta property='og:description' content='{{ .Description }}'>
<meta property='og:type' content='website'>
<meta property='og:url' content='{{ .Site.BaseURL }}'>
<meta property='og:image' content='{{ .Site.BaseURL }}/images/og-image-new.jpg'/>

<!-- Twitter Card -->
<meta name='twitter:card' content='summary'>
<meta name='twitter:site' content='{{ $.Param "author" }}'>
