<!-- Schema.org -->
<meta itemprop='name' content='Blokks'>
<meta itemprop='description' content='Blokks is your sidekick for managing and embedding your festival timetable on both desktop and mobile.'>
<meta itemprop='url' content='{{ .Site.BaseURL }}'>
<meta itemprop='keywords' content='Blokks, timetable embed, timetable, timetables, embed, embeds, schedule, festival, music, conference, lineup'>
<meta itemprop='image' content='{{ .Site.BaseURL }}/images/og-image-new.jpg'>
<meta itemprop='sourceOrganization' content='Blokks'>
<meta itemprop='inLanguage' content='en-US'>

<!-- OpenGraph -->
<meta property='og:type' content='website'>
<meta property='og:title' content='Blokks'>
<meta property='og:description' content='Blokks is your sidekick for managing and embedding your festival timetable on both desktop and mobile.'>
<meta property='og:url' content='{{ .Site.BaseURL }}'>
<meta property='og:image' content='{{ .Site.BaseURL }}/images/og-image-new.jpg'/>

<!-- Twitter Card -->
<meta name='twitter:card' content='summary'>
<meta name='twitter:site' content='@BlokksHQ'>
<meta name='twitter:label1' content='Awesomeness'>
<meta name='twitter:data1' content='Very High'>
