@define-mixin article-title {
    @mixin font var(--proxima-nova), var(--default-title-color);
    @mixin antialiased;
    font-weight: 400;
}

@define-mixin article-body-text {
    @mixin font var(--proxima-nova), var(--default-text-color), 1.8rem;
    @mixin antialiased;
    line-height: 1.7;
}

@define-mixin article-emphasized-text {
    @mixin font var(--liberation-mono), var(--green), 1.4rem;
    @mixin antialiased;
    font-weight: 400;
    font-style: normal;
}

@define-mixin article-list {
    @mixin font var(--liberation-mono), var(--green), 1.4rem;
    @mixin antialiased;
}

@define-mixin article-thead {
    @mixin font var(--proxima-nova), var(--default-text-color), 1.5rem;
    @mixin antialiased;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}

@define-mixin article-tbody {
    @mixin font var(--proxima-nova), var(--emphasized-text-color), 1.4rem;
    @mixin antialiased;
    text-align: left;
}

@define-mixin article-code {
    @mixin font var(--liberation-mono), white, 1.4rem;
    @mixin antialiased;
    line-height: 1.5;
}
