.article {
    max-width: 660px;

    & > :first-child {
        margin: 0;
    }

    h1, h2, h3, h4 {
        @mixin article-title;
        margin: 24px 0 0 0;
    }

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        @mixin article-body-text;
        margin: 24px 0 0 0;
    }

    p + p {
        margin: 18px 0 0 0;
    }

    a {
        color: var(--default-link-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--blue);
    }

    em, strong {
        @mixin article-emphasized-text;
        padding: 5px 8px;
        border-radius: 3px;
    }

    em {
        background-color: color(var(--blue) alpha(10%));
        color: var(--blue);
    }

    strong {
        background-color: color(var(--green) alpha(10%));
        color: var(--green);
    }

    img {
        margin: 6px 0;
        size: 100% auto;
        border-radius: 3px;
    }

    ul, ol {
        @mixin clearfix;
        @mixin article-list;
        margin: 24px 0 0 0;
        padding: 0 0 0 58px;
        list-style: none;
    }

    li {
        display: inline-block;
        position: relative;
        float: left;
        clear: left;

        background-color: color(var(--green) alpha(10%));
        border-radius: 3px;
        padding: 5px 10px;
    }

    li:not(:first-child) {
        margin-top: 12px;
    }

    li:before {
        position: absolute 9px * * -28px;
        size: 7px;
        content: '';

        $backgroundImage: "images/bullet@2x.png";
        background: inline($backgroundImage) no-repeat;
        background-size: size($backgroundImage, 2);
    }

    table {
        margin: 24px 0 0 0;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
    }

    th {
        @mixin article-thead;
        border-bottom: 2px solid var(--default-stroke-color);
    }

    td {
        @mixin article-tbody;
        vertical-align: top;
        border-bottom: 1px solid var(--dark-stroke-color);
    }

    th:first-child, td:first-child {
        padding: 13px 20px 13px 0;
    }

    th:last-child, td:last-child {
        padding: 13px 0 13px 20px;
    }

    th:not(:first-child):not(:last-child),
    td:not(:first-child):not(:last-child) {
        padding: 13px 20px;
    }

    code {
        @mixin article-code;
        display: block;
        margin: 24px 0 0 0;
        padding: 15px 20px;

        background: var(--code-background-color);
        border-radius: 3px;
        overflow-x: auto;
        overflow-y: visible;
    }

    code[class*='language']:before {
        @mixin article-code-language-identifier;
        display: block;
        margin-bottom: 15px;
    }

    code.language-html:before {
        content: 'HTML:';
    }

    code.language-JavaScript:before {
        content: 'Javascript:';
    }

    code.language-css:before {
        content: 'CSS:';
    }
}
