.table-of-contents {
    flex-grow: 1;
    min-width: 260px;

    &.fixed {
        position: fixed 0 * * *;
    }

    &__section {
        @mixin navigation-section;
        margin: 0;
    }

    &__section:first-of-type {
        margin-top: 8px;
    }

    &__section:not(:first-of-type) {
        margin-top: 45px;
    }

    &__pages {
        margin-top: 15px;
        padding: 0;
        list-style: none;
    }

    &__page {
        @mixin navigation-page;
        margin: 0;
    }

    &__link {
        display: inline-block;
        position: relative;
        color: inherit;
        text-decoration: none;
    }

    &__link--selected {
        cursor: default;
    }

    &__link--new:after {
        @mixin navigation-new-label;
        margin-left: 12px;
        content: 'New!';
    }

    &__link--selected:before {
        display: inline-block;
        size: 20px 8px;
        margin-right: 12px;
        content: '';

        $backgroundImage: "images/arrow@2x.png";
        background: inline($backgroundImage) no-repeat;
        background-size: size($backgroundImage, 2);
    }

    &__link:not(&__link--selected):hover {
        color: var(--blue);
    }
}
