@define-mixin navigation-section {
    @mixin font var(--proxima-nova), var(--default-text-color), 1.5rem;
    @mixin antialiased;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@define-mixin navigation-page {
    @mixin font var(--liberation-mono), var(--default-title-color), 1.4rem;
    @mixin antialiased;
    line-height: 2.3;
}

@define-mixin navigation-new-label {
    @mixin font var(--proxima-nova), var(--green), 1.4rem;
    @mixin antialiased;
    text-transform: uppercase;
}
