@define-mixin navigation-section {
    @mixin font var(--proxima-nova), var(--default-text-color), 1.4rem;
    @mixin antialiased;
    font-weight: 400;
    letter-spacing: 1px;
}

@define-mixin navigation-page {
    @mixin font var(--liberation-mono), var(--default-title-color), 1.3rem;
    @mixin antialiased;
    line-height: 2.35;
}

@define-mixin navigation-new-label {
    @mixin font var(--proxima-nova), var(--green), 1.3rem;
    @mixin antialiased;
}
