@define-mixin related-title {
    @mixin font var(--blokks-sans), var(--emphasized-text-color);
    @mixin antialiased;
    font-weight: 400;
    text-align: left;

    @media (--smallest), (--small) {
        font-size: 1.5rem;
    }

    @media (--default) {
        font-size: 1.6rem;
    }
}

@define-mixin related-link {
    @mixin font var(--blokks-mono), var(--related-content-text-color), 1.3rem;
    @mixin antialiased;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}