@font-face {
    font-family: 'liberationmono';
    font-weight: 400;
    font-style: normal;
    src: url('https://static.blokks.co/liberation-mono-regular.woff') format('woff');
}

@font-face {
    font-family: 'proximanova';
    font-weight: 400;
    font-style: normal;
    src: url('https://static.blokks.co/liberation-sans-regular.woff') format('woff');
}

:root {
    --proxima-nova: 'proximanova', sans-serif;
    --liberation-mono: 'liberationmono', monospace;
}
