:root {
    --background-color: #282b2f;
    --code-background-color: #34383d;

    --default-title-color: #fff;
    --default-text-color: #abb1bc;
    --dimmed-text-color: #676c72;
    --default-link-color: #fff;
    --selection-text-color: #fff;
    --emphasized-text-color: #fff;

    --default-stroke-color: #4a4e55;
}

:root {
    --blue: rgb(46, 140, 210);
	--pink: rgb(200, 58, 111);
	--yellow: rgb(246, 180, 17);
	--green: rgb(52, 200, 104);
	--purple: rgb(140, 93, 165);
	--grey: rgb(171, 177, 188);
    --light-blue: rgb(51, 161, 242);
}
