@font-face {
    font-family: 'liberationmono';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://static.blokks.co/liberation-mono-regular.woff') format('woff');
}

@font-face {
    font-family: 'liberationsans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://static.blokks.co/liberation-sans-regular.woff') format('woff');
}

:root {
    --liberation-sans: 'liberationsans', sans-serif;
    --liberation-mono: 'liberationmono', monospace;
}
