@font-face {
    font-family: 'Blokks Mono';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://static.blokks.co/fonts/BlokksMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Blokks Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://static.blokks.co/fonts/BlokksSans-Regular.woff') format('woff');
}

:root {
    --blokks-sans: 'Blokks Sans', sans-serif;
    --blokks-mono: 'Blokks Mono', monospace;
}
